name: Deploy to EC2 using SSM
on:
  workflow_dispatch:
    

# Permission can be added at job level or workflow level    
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies (Build Test)
        run: npm install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::746387399152:role/GITHUB-OIDC-ROLE
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: us-west-1
        
      - name: Deploy to EC2
        run: |
            aws ssm send-command \
            --instance-ids "${{ secrets.INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploying app via GitHub Actions" \
            --parameters commands='[
              "set -e",
              "APP_DIR=/home/ubuntu/nodejs",
              "REPO_URL=https://github.com/priym14/node-js-sample",
              "if [ -d \"$APP_DIR/.git\" ]; then",
              "  echo \" Git repo found. Pulling latest from main...\"",
              "  cd $APP_DIR",
              "  git checkout main",
              "  git pull origin main",
              "else",
              "  echo \"Git repo NOT found. Doing fresh clone...\"",
              "  mkdir -p $APP_DIR",
              "  git clone $REPO_URL $APP_DIR",
              "fi",
              "npm install",
              "npm run build --if-present",
              "pm2 start npm --name nodejs -- run start",
              "pm2 save",
              "pm2 list"
            ]' \
            --output text

