name: Deploy to EC2 using SSM
on:
  workflow_dispatch:
    

# Permission can be added at job level or workflow level    
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies (Build Test)
        run: npm install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::746387399152:role/GITHUB-OIDC-ROLE
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: us-west-1

      - name: Deploy to EC2 using SSM
        run: |
          aws ssm send-command \
            --instance-ids "${{ secrets.INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy Node.js App via GitHub Actions" \
            --parameters 'commands=[
              "set -e",
              "echo Starting deployment",
              "APP_DIR=/home/ubuntu/nodejs"
              "mkdir -p $APP_DIR",
              "cd $APP_DIR",
              "REPO_URL=https://github.com/priym14/node-js-sample.git"
              "if [ -d .git ]; then 
                  echo  Git repo exists, pulling latest code;
                  git pull orgin master;
               else 
                  echo  No repo found, cloning fresh;
                  git clone $REPO_URL .;
               fi",

              "npm install",

              "pm2 delete node-app || true",
              "pm2 start index.js --name node-app",

              "pm2 save",

              "echo Deployment finished successfully"
            ]'








